
.dash-table{
  max-height: 250px;
  overflow: scroll;
	position: relative;
}

.new-rows{
}

.dash-table tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

.dash-table tbody{
  overflow-y: scroll;
  height: 225px;
  /* width: 95%; */
  position: absolute;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 28%;
}

.homemade-col-10{
  flex: 0 0 80%;
  max-width: 80%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.homemade-col-1{
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-link.dash{
  border-bottom: #E7E7E7 solid 1px;
}

/* .main-details-container{
  height: calc(100vh - 135px);
  margin: 10px 10px 10px 10px;
  padding-right: 0 !important;
} */

.main-details-container{
  height: calc(100vh - 110px);
  margin-left: 15px;
  margin-right: 15px;
	margin-top: 58px;
  /* margin: 10px 10px 10px 10px;
  padding-right: 0 !important; */
}

.main-details-container div{
  height: 100%;
}

.nav-pills.dash{
  border-radius: 0;
}

.nav-link.dash{
  color: black;

}

.tab-info{
  overflow-x: scroll;
}

.nav-link.dash:hover{
  background-color: #444;
  color: white;
}

.nav-link.dash.active{
  background-color: #E7E7E7;
  color:black;
}

.nav-link.dash.trucks{
  border: none;
  background: transparent;
}

.nav-link.dash.trucks:hover{
  color: green;
}

.nav-link.dash.disabled:hover{
  cursor: not-allowed;
  background: inherit;
  color: #6c757d;
}

.nav-link.dash.active.trucks{
  background-color: transparent;
  border-bottom: 1px solid rgb(75,139, 15);
}
