.login-well{
  display: flex;
  text-align: center;
  justify-content: center;
  -webkit-text-align-center;
  -webkit-justify-content: center;
  margin: 15% 0% 0% 0%;
  /*height: 100vh;*/
}

.login-card{
  width: 100%;
}

.time-clock{
  font-size: 1.5em;
}

.punch-btn{
  font-size: 1em !important;
}

.container-fluid{
  padding:5% !important;
}
