.content-div{
  height: calc(100vh - 110px);
  overflow: scroll;
}

.custom-control-input:checked~.custom-control-label::before{
  background-color: rgb(69, 187, 74);
  border-color: rgb(69, 187, 74);
}

.custom-switch .custom-control-label::after{
  background-color: rgba(255, 255, 255, 1);
}

.custom-control-label::before{
  background-color: rgb(255, 28, 28);
  border-color: rgb(255, 28, 28);
}
