.main-nav{
    position: fixed;
    height: 100vh;
    width: 300px;
    border-right: #2d0500 1pt solid;
    padding-left: 20px;
}

.main-nav > div.nav-element{
    display: flex;
    justify-content: space-between !important;
    width: 100% !important;
}

.main-nav * img{
    max-width: 50px;
}